<p id="notice"><%= notice %></p>

<h1>Listing Artists</h1>

<table id="sortable">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birthdate</th>
      <th>Website</th>
      <th>Shows Count</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.fname, artist_path(artist) %></td>
        <td><%= link_to artist.lname, artist_path(artist) %></td>
		
		<td>
			<% if not artist.dob.nil? %>
				<%= artist.dob.strftime("%B %d, %Y") %>
			<% end %>
		</td>
		<td>
			<% if not artist.link.nil? %>
				<%= link_to artist.link %>
			<% end %>
		</td>
		<td class="centerH"><%= artist.shows.count %></td>
        <td class="noWrap">
			<%= link_to image_tag('view.png'), artist_path(artist) %>
			<%= link_to image_tag('edit.png'), edit_artist_path(artist) if current_user %>
			<%= link_to image_tag('delete.png'), 
					artist, method: :delete, data: { confirm: 'Are you sure?' } if is_admin? %>
		</td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to image_tag('add.png')+' New Artist', new_artist_path %>


<script>

	$(document).ready(function() {
		$('#sortable').dataTable( {
			"columnDefs": [ {"targets": [-1], "orderable": false} ],
			"paging":   false,
			"info":     false
		} );
	} );

</script>
