<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @artist.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @artist.lname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @artist.dob %>
</p>

<p>
  <strong>Link:</strong>
  <%= @artist.link %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
