<table class="albumList" width="100%">
	<thead>
		<th>Name</th>
		<th>Released</th>
		<th>&nbsp;</th>
	</thead>
	<% albums.each do |album| %>
		<tr>
			<td class="albumList" ><%= album.name %></td>
			<td class="albumList"><%= album.released.strftime("%m/%d/%Y") unless album.released.nil? %></td>
			<td class="albumList"><div class="rightH">
				<%= link_to image_tag('spotify.png', options={height: "16"}), album.spotify, :target => "_spotify" unless album.spotify.nil? %>
				<%= link_to image_tag('edit.png'), edit_show_album_path(album, album.show_id) if current_user %>
				<%= link_to image_tag('delete.png'), show_path(album.show_id), method: :delete, data: { confirm: 'Are you sure?' } if is_admin? %>
			</div></td>
		</tr>
	<% end %>
</table>

