<table class="sortable">
	<thead>
		<%#= th></th %>
		<th>Name</th>
		<th>Opened</th>
		<th>Artists</th>
		<th>Keywords</th>
		<th>Albums</th>
		<th>&nbsp;</th>
	</thead>
	<tbody>
		<% @shows.each do |show| %>
			<tr>
				<%#= td class="details-control">&nbsp;</td %>
				<td><%= link_to show.name, show %></td>
				<td><%= show.opened.strftime("%m/%d/%Y") if not show.opened.nil? %></td>
				<td><%= raw show.artists.collect { |a| link_to(a.flName, artist_path(a)) }.join ', ' %></td>
				<td><%= raw show.keywords.collect{ |k| link_to(k.name,   shows_path + "?keyword[id]="+k.id.to_s)}.join ', ' %></td>
				<td><center><%= show.albums.count %></center></td>
				<td class="noWrap" >
					<%= link_to image_tag('view.png'), show %>
					<%= link_to image_tag('edit.png'), edit_show_path(show) if current_user %>
					<%= link_to image_tag('delete.png'), show, method: :delete, data: { confirm: 'Are you sure?' } if is_admin? %>
				</td>
			</tr>
			<%# tr class="albumRow" ><td colspan=6></td></tr %>
		<% end %>
	<tbody>
</table>

<script>

	$(document).ready(function() {
		$('.sortable').dataTable( {
			"columnDefs": [ {"targets": [-1], "orderable": false} ],
			"paging":   false,
			"info":     false
		} );
	} );
</script>
