
<table>
	<thead>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>Opened</th>
		<th>Artists</th>
		<th>Keywords</th>
		<th>&nbsp;</th>
	</thead>
	<% @shows.each do |show| %>
		<tr>
			<td><%= image_tag('expand.png', class: "ShowHideButton", alt: "+") %></td>
			<td><%= link_to show.name, show %></td>
			<td><%= show.opened.strftime("%m/%d/%y") if not show.opened.nil? %></td>
			<td><%= raw show.artists.collect { |a| link_to(a.flName, artist_path(a)) }.join ', ' %></td>
			<td><%= show.keywords.collect {|u| u.name}.join ', ' %></td>
			<td>
				<%= link_to image_tag('view.png'), show %>
				<%= link_to image_tag('edit.png'), edit_show_path(show) %>
				<%= link_to image_tag('delete.png'), show, method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
		<tr class="<%= "album_row"+show.id.to_s %>" hidden>
			<td></td><td colspan="4"><%= render 'albums/list', :albums => show.albums.all %></td>
		</tr>
	<% end %>
</table>

<script>
	SetUpListeners();
</script>

