<h1>All Shows</h1>
<p id="notice"><%= notice %></p>
<%= render 'shows/search'  %>
<%= render 'shows/list'  %>
<hr />
<%= link_to image_tag('add.png')+ "Add New Show", new_show_path %><br>
<%= link_to image_tag('add.png')+ "Add Artist", new_artist_path %>
