<br>
<p id="notice"><%= notice %></p>
<%= render 'shows/show', :show => @show %>

<hr />
<h2>Albums:</h2>
<%= render 'albums/index' %>
<div style="clear: left;">
<hr />	
<ul>
	<li><%= link_to image_tag('add.png')+ "Add New Album to "+@show.name, new_show_album_path(@show) if current_user %></li>
	<li><%= link_to image_tag('add.png')+ "Add New Show", new_show_path if current_user %></li>
	<li><%= link_to image_tag('back.png')+' Back to All Shows', shows_path %></li>
</ul>
