<!DOCTYPE html>
<html>
	<head>
		<title>Musical Database Application</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<table width="100%"><tr>
			<td width="50%"><div class="leftH"><%= render 'navigation' %></div></td>
			<td width="50%"><div class="rightH"><%= render 'authentication' %></div></td>
		</tr></table>
		<hr />
		<%= yield %>
	</body>
</html>
