<!DOCTYPE html>
<html>
	<head>
		<title>Musical Database Application</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<h1>Musical Database</h1>
			<nav><%= render 'navigation' %></nav>
			<span class="auth"><%= render 'authentication' %></span>
		</header>
		<%= yield %>
	</body>
	<footer></footer>
</html>
